
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template}">
<head>
    <title>Tableau de bord</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-4">
        <h1>Bienvenue sur le tableau de bord</h1>

        <div class="mt-4">
            <a th:href="@{/admin/user/list}" class="btn btn-primary">
                <i class="bi bi-people-fill"></i> Gestion des Annotateurs
            </a>
        </div>
        <div class="mt-4">
            <a th:href="@{/admin/dataset/ajouter}" class="btn btn-primary">
                <i class="bi bi-people-fill"></i> Gestion des Taches
            </a>
        </div>
        <div class="mt-4">
            <a th:href="@{/admin/dataset/list}" class="btn btn-primary">
                <i class="bi bi-people-fill"></i> Taches
            </a>
        </div>
        <form th:action="@{/logout}" method="post" class="mt-4">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
    </div>
</div>
</body>
</html>